<div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
               {{ fields.title.content }}
            </h2>
            <h3 class="post-subtitle">
              {{ fields.field_subtitle.content }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {{ fields.uid.content }}
            on {{ fields.created.content }}</p>
        </div>
        <hr>
